.body {
  background-color: #000800;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 500px;
  border: 2px solid #ccc;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
}

.h2 {
  text-align: center;
  margin-bottom: 40px;
}
.card {
  display: block;
  align-items: center;
  color: slategray;
}
